openapi: 3.0.3
info:
  contact:
    email: letstalk@bandwidth.com
    name: Bandwidth
    url: https://dev.bandwidth.com
  description: Bandwidth's Communication APIs
  title: Bandwidth
  version: 1.0.0
servers:
- url: /
security:
- Basic: []
- OAuth2: []
tags:
- name: Messages
- name: Media
- name: Multi-Channel
- name: Calls
- name: Conferences
- name: Recordings
- name: Statistics
- name: Transcriptions
- name: MFA
- name: Phone Number Lookup
- name: Toll-Free Verification
paths:
  /users/{accountId}/media:
    get:
      description: Gets a list of your media files. No query parameters are supported.
      operationId: listMedia
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Continuation token used to retrieve subsequent media.
        example: 1XEi2tsFtLo1JbtLwETnM1ZJ+PqAa8w6ENvC5QKvwyrCDYII663Gy5M4s40owR1tjkuWUif6qbWvFtQJR5/ipqbUnfAqL254LKNlPy6tATCzioKSuHuOqgzloDkSwRtX0LtcL2otHS69hK343m+SjdL+vlj71tT39
        explode: false
        in: header
        name: Continuation-Token
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/media'
                type: array
          description: OK
          headers:
            Continuation-Token:
              description: Continuation token used to retrieve subsequent media.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Not Found
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Internal Server Error
      summary: List Media
      tags:
      - Media
    servers:
    - description: Production
      url: https://messaging.bandwidth.com/api/v2
  /users/{accountId}/media/{mediaId}:
    delete:
      description: |-
        Deletes a media file from Bandwidth API server. Make sure you don't have
        any application scripts still using the media before you delete.

        If you accidentally delete a media file you can immediately upload a new
        file with the same name.
      operationId: deleteMedia
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Media ID to retrieve.
        example: 14762070468292kw2fuqty55yp2b2/0/bw.png
        explode: false
        in: path
        name: mediaId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Not Found
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Internal Server Error
      summary: Delete Media
      tags:
      - Media
    get:
      description: Downloads a media file you previously uploaded.
      operationId: getMedia
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Media ID to retrieve.
        example: 14762070468292kw2fuqty55yp2b2/0/bw.png
        explode: false
        in: path
        name: mediaId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                description: Successful Operation
                format: binary
                type: string
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Not Found
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Internal Server Error
      summary: Get Media
      tags:
      - Media
    put:
      description: |-
        Upload a file. You may add headers to the request in order to provide some control to your media file.

        If a file is uploaded with the same name as a file that already exists under this account, the previous file will be overwritten.

        A list of supported media types can be found [here](https://support.bandwidth.com/hc/en-us/articles/360014128994-What-MMS-file-types-are-supported-).
      operationId: uploadMedia
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Media ID to retrieve.
        example: 14762070468292kw2fuqty55yp2b2/0/bw.png
        explode: false
        in: path
        name: mediaId
        required: true
        schema:
          type: string
        style: simple
      - description: The media type of the entity-body.
        example: audio/wav
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - description: General-header field is used to specify directives that MUST
          be obeyed by all caching mechanisms along the request/response chain.
        example: no-cache
        explode: false
        in: header
        name: Cache-Control
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/uploadMediaRequest'
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Not Found
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Internal Server Error
      summary: Upload Media
      tags:
      - Media
    servers:
    - description: Production
      url: https://messaging.bandwidth.com/api/v2
  /users/{accountId}/messages:
    get:
      description: Returns a list of messages based on query parameters.
      operationId: listMessages
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: "The ID of the message to search for. Special characters need\
          \ to be encoded using URL encoding. Message IDs could come in different\
          \ formats, e.g., 9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6 and 1589228074636lm4k2je7j7jklbn2\
          \ are valid message ID formats. Note that you must include at least one\
          \ query parameter."
        example: 9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6
        explode: true
        in: query
        name: messageId
        required: false
        schema:
          type: string
        style: form
      - description: "The phone number that sent the message. Accepted values are:\
          \ a single full phone number a comma separated list of full phone numbers\
          \ (maximum of 10) or a single partial phone number (minimum of 5 characters\
          \ e.g. '%2B1919')."
        example: '%2B15554443333'
        explode: true
        in: query
        name: sourceTn
        required: false
        schema:
          type: string
        style: form
      - description: "The phone number that received the message. Accepted values\
          \ are: a single full phone number a comma separated list of full phone numbers\
          \ (maximum of 10) or a single partial phone number (minimum of 5 characters\
          \ e.g. '%2B1919')."
        example: '%2B15554443333'
        explode: true
        in: query
        name: destinationTn
        required: false
        schema:
          type: string
        style: form
      - description: The status of the message. One of RECEIVED QUEUED SENDING SENT
          FAILED DELIVERED ACCEPTED UNDELIVERED.
        explode: true
        in: query
        name: messageStatus
        required: false
        schema:
          $ref: '#/components/schemas/messageStatusEnum'
        style: form
      - description: The direction of the message. One of INBOUND OUTBOUND.
        explode: true
        in: query
        name: messageDirection
        required: false
        schema:
          $ref: '#/components/schemas/listMessageDirectionEnum'
        style: form
      - description: The name of the carrier used for this message. Possible values
          include but are not limited to Verizon and TMobile. Special characters need
          to be encoded using URL encoding (i.e. AT&T should be passed as AT%26T).
        example: Verizon
        explode: true
        in: query
        name: carrierName
        required: false
        schema:
          type: string
        style: form
      - description: The type of message. Either sms or mms.
        explode: true
        in: query
        name: messageType
        required: false
        schema:
          $ref: '#/components/schemas/messageTypeEnum'
        style: form
      - description: The error code of the message.
        example: 9902
        explode: true
        in: query
        name: errorCode
        required: false
        schema:
          type: integer
        style: form
      - description: The start of the date range to search in ISO 8601 format. Uses
          the message receive time. The date range to search in is currently 14 days.
        example: 2022-09-14T18:20:16.000Z
        explode: true
        in: query
        name: fromDateTime
        required: false
        schema:
          type: string
        style: form
      - description: The end of the date range to search in ISO 8601 format. Uses
          the message receive time. The date range to search in is currently 14 days.
        example: 2022-09-14T18:20:16.000Z
        explode: true
        in: query
        name: toDateTime
        required: false
        schema:
          type: string
        style: form
      - description: The campaign ID of the message.
        example: CJEUMDK
        explode: true
        in: query
        name: campaignId
        required: false
        schema:
          type: string
        style: form
      - description: The minimum Bandwidth latency of the message in seconds. Only
          available for accounts with the Advanced Quality Metrics feature enabled.
        example: 5
        explode: true
        in: query
        name: fromBwLatency
        required: false
        schema:
          type: integer
        style: form
      - description: A boolean value indicating whether the message is queued in the
          Bandwidth network.
        example: true
        explode: true
        in: query
        name: bwQueued
        required: false
        schema:
          type: boolean
        style: form
      - description: Messaging product associated with the message.
        example: P2P
        explode: true
        in: query
        name: product
        required: false
        schema:
          $ref: '#/components/schemas/productTypeEnum'
        style: form
      - description: Location Id associated with the message.
        example: 123ABC
        explode: true
        in: query
        name: location
        required: false
        schema:
          type: string
        style: form
      - description: A boolean value indicating whether the message is queued in the
          carrier network. Only available for OUTBOUND messages from accounts with
          the Advanced Quality Metrics feature enabled.
        example: true
        explode: true
        in: query
        name: carrierQueued
        required: false
        schema:
          type: boolean
        style: form
      - description: The minimum carrier latency of the message in seconds. Only available
          for OUTBOUND messages from accounts with the Advanced Quality Metrics feature
          enabled.
        example: 50
        explode: true
        in: query
        name: fromCarrierLatency
        required: false
        schema:
          type: integer
        style: form
      - description: Calling number country in A3 format.
        example: USA
        explode: true
        in: query
        name: callingNumberCountryA3
        required: false
        schema:
          type: string
        style: form
      - description: Called number country in A3 format.
        example: USA
        explode: true
        in: query
        name: calledNumberCountryA3
        required: false
        schema:
          type: string
        style: form
      - description: Segment count (start range).
        example: 1
        explode: true
        in: query
        name: fromSegmentCount
        required: false
        schema:
          type: integer
        style: form
      - description: Segment count (end range).
        example: 3
        explode: true
        in: query
        name: toSegmentCount
        required: false
        schema:
          type: integer
        style: form
      - description: Message size (start range).
        example: 100
        explode: true
        in: query
        name: fromMessageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Message size (end range).
        example: 120
        explode: true
        in: query
        name: toMessageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The field and direction to sort by combined with a colon. Direction
          is either asc or desc.
        example: sourceTn:desc
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: A base64 encoded value used for pagination of results.
        example: gdEewhcJLQRB5
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: The maximum records requested in search result. Default 100.
          The sum of limit and after cannot be more than 10000.
        example: 50
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: "When set to true, the response's totalCount field will have\
          \ a maximum value of 10,000. When set to false, or excluded, this will give\
          \ an accurate totalCount of all messages that match the provided filters.\
          \ If you are experiencing latency, try using this parameter to limit your\
          \ results."
        example: true
        explode: true
        in: query
        name: limitTotalCount
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagesList'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Not Found
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Internal Server Error
      summary: List Messages
      tags:
      - Messages
    post:
      callbacks:
        statusCallback:
          $ref: '#/components/callbacks/statusCallback'
      description: Endpoint for sending text messages and picture messages using V2
        messaging.
      operationId: createMessage
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/createMessageRequest'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/message'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createMessageRequestError'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Not Acceptable
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagingRequestError'
          description: Internal Server Error
      summary: Create Message
      tags:
      - Messages
    servers:
    - description: Production
      url: https://messaging.bandwidth.com/api/v2
  /users/{accountId}/messages/multiChannel:
    post:
      callbacks:
        statusCallback:
          $ref: '#/components/callbacks/statusCallback'
      description: Endpoint for sending Multi-Channel messages.
      operationId: createMultiChannelMessage
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/createMultiChannelMessageRequest'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createMultiChannelMessageResponse'
          description: Accepted
        "400":
          content:
            application/json:
              example:
                links: []
                data: null
                errors:
                - type: request-validation
                  description: "The 'channelList[0].from' field must contain exactly\
                    \ one telephone number"
                  source:
                    field: "channelList[0].from"
              schema:
                $ref: '#/components/schemas/multiChannelError'
          description: Bad Request
        "401":
          content:
            application/json:
              example:
                links: []
                data: null
                errors:
                - type: unauthorized
                  description: Authentication Failed
                  source: {}
              schema:
                $ref: '#/components/schemas/multiChannelError'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                links: []
                data: null
                errors:
                - type: forbidden
                  description: Access Denied
                  source: {}
              schema:
                $ref: '#/components/schemas/multiChannelError'
          description: Forbidden
        "404":
          content:
            application/json:
              example:
                links: []
                data: null
                errors:
                - type: forbidden
                  description: Resource not found.
                  source: {}
              schema:
                $ref: '#/components/schemas/multiChannelError'
          description: Not Found
        "405":
          content:
            application/json:
              example:
                links: []
                data: null
                errors:
                - type: method-not-allowed
                  description: Method 'PUT' not supported for this resource.
                  source: {}
              schema:
                $ref: '#/components/schemas/multiChannelError'
          description: Method Not Allowed
        "406":
          description: Not Acceptable
        "415":
          content:
            application/json:
              example:
                links: []
                data: null
                errors:
                - type: unsupported-content-type
                  description: Content-Type 'application/xml;charset=UTF-8' is not
                    supported. Please use 'application/json'
                  source:
                    header: Content-Type
              schema:
                $ref: '#/components/schemas/multiChannelError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              example:
                links: []
                data: null
                errors:
                - type: rate-limit-exceeded
                  description: You have exceeded your rate limit for this endpoint.
                    Please retry later.
                  source: {}
              schema:
                $ref: '#/components/schemas/multiChannelError'
          description: Too Many Requests
        "500":
          content:
            application/json:
              example:
                links: []
                data: null
                errors:
                - type: internal-server-error
                  description: Internal server error. No further information available
                  source: {}
              schema:
                $ref: '#/components/schemas/multiChannelError'
          description: Internal Server Error
      summary: Create Multi-Channel Message
      tags:
      - Multi-Channel
      x-badges:
      - name: Beta
        color: '#076EA8'
    servers:
    - description: Production
      url: https://messaging.bandwidth.com/api/v2
  /accounts/{accountId}/calls:
    get:
      description: |-
        Returns a max of 10000 calls, sorted by `createdTime` from oldest to newest.

        **NOTE:** If the number of calls in the account is bigger than `pageSize`, a `Link` header (with format `<{url}>; rel="next"`) will be returned in the response. The url can be used to retrieve the next page of call records.
        Also, call information is kept for 7 days after the calls are hung up. If you attempt to retrieve information for a call that is older than 7 days, you will get an empty array [] in response.
      operationId: listCalls
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Filter results by the `to` field.
        example: '%2b19195551234'
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      - description: Filter results by the `from` field.
        example: '%2b19195554321'
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: Filter results to calls which have a `startTime` after or including
          `minStartTime` (in ISO8601 format).
        example: 2022-06-21T19:13:21Z
        explode: true
        in: query
        name: minStartTime
        required: false
        schema:
          type: string
        style: form
      - description: Filter results to calls which have a `startTime` before or including
          `maxStartTime` (in ISO8601 format).
        example: 2022-06-21T19:13:21Z
        explode: true
        in: query
        name: maxStartTime
        required: false
        schema:
          type: string
        style: form
      - description: Filter results to calls with specified call Disconnect Cause.
        example: hangup
        explode: true
        in: query
        name: disconnectCause
        required: false
        schema:
          type: string
        style: form
      - description: Specifies the max number of calls that will be returned.
        example: 500
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 1000
          format: int32
          maximum: 10000
          minimum: 1
          type: integer
        style: form
      - description: "Not intended for explicit use. To use pagination, follow the\
          \ links in the `Link` header of the response, as indicated in the endpoint\
          \ description."
        example: eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/callState'
                type: array
          description: OK
        "400":
          content:
            application/json:
              examples:
                badRequestErrorExample:
                  $ref: '#/components/examples/voiceBadRequestErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorizedErrorExample:
                  $ref: '#/components/examples/voiceUnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbiddenErrorExample:
                  $ref: '#/components/examples/voiceForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                notFoundErrorExample:
                  $ref: '#/components/examples/voiceNotFoundErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                notAllowedErrorExample:
                  $ref: '#/components/examples/voiceNotAllowedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceUnsupportedMediaTypeErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceTooManyRequestsErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Too Many Requests
          headers:
            Retry-After:
              description: When you should try your request again.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                internalServerErrorExample:
                  $ref: '#/components/examples/voiceInternalServerErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Internal Server Error
      summary: Get Calls
      tags:
      - Calls
    post:
      description: |-
        Creates an outbound phone call.

        All calls are initially queued. Your outbound calls will initiated at a specific dequeueing rate, enabling your application to "fire and forget" when creating calls. Queued calls may not be modified until they are dequeued and placed, but may be removed from your queue on demand.

        <b>Please note:</b> Calls submitted to your queue will be placed approximately in order, but exact ordering is not guaranteed.
      operationId: createCall
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/createCallRequest'
      responses:
        "201":
          content:
            application/json:
              examples:
                createCall Response:
                  $ref: '#/components/examples/createCallResponseExample'
              schema:
                $ref: '#/components/schemas/createCallResponse'
          description: Created
          headers:
            Location:
              description: The URL for further interactions with this call
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                badRequestErrorExample:
                  $ref: '#/components/examples/voiceBadRequestErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorizedErrorExample:
                  $ref: '#/components/examples/voiceUnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbiddenErrorExample:
                  $ref: '#/components/examples/voiceForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                notFoundErrorExample:
                  $ref: '#/components/examples/voiceNotFoundErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                notAllowedErrorExample:
                  $ref: '#/components/examples/voiceNotAllowedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceUnsupportedMediaTypeErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceTooManyRequestsErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Too Many Requests
          headers:
            Retry-After:
              description: When you should try your request again.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                internalServerErrorExample:
                  $ref: '#/components/examples/voiceInternalServerErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Internal Server Error
      summary: Create Call
      tags:
      - Calls
    servers:
    - description: Production
      url: https://voice.bandwidth.com/api/v2
  /accounts/{accountId}/calls/{callId}:
    get:
      description: |-
        Retrieve the current state of a specific call. This information is near-realtime, so it may take a few minutes for your call to be accessible using this endpoint.

        **Note**: Call information is kept for 7 days after the calls are hung up. If you attempt to retrieve information for a call that is older than 7 days, you will get an HTTP 404 response.
      operationId: getCallState
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Programmable Voice API Call ID.
        example: c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/callState'
          description: OK
        "400":
          content:
            application/json:
              examples:
                badRequestErrorExample:
                  $ref: '#/components/examples/voiceBadRequestErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorizedErrorExample:
                  $ref: '#/components/examples/voiceUnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbiddenErrorExample:
                  $ref: '#/components/examples/voiceForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                notFoundErrorExample:
                  $ref: '#/components/examples/voiceNotFoundErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                notAllowedErrorExample:
                  $ref: '#/components/examples/voiceNotAllowedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceUnsupportedMediaTypeErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceTooManyRequestsErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Too Many Requests
          headers:
            Retry-After:
              description: When you should try your request again.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                internalServerErrorExample:
                  $ref: '#/components/examples/voiceInternalServerErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Internal Server Error
      summary: Get Call State Information
      tags:
      - Calls
    post:
      description: Interrupts and redirects a call to a different URL that should
        return a BXML document.
      operationId: updateCall
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Programmable Voice API Call ID.
        example: c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/updateCallRequest'
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              examples:
                badRequestErrorExample:
                  $ref: '#/components/examples/voiceBadRequestErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorizedErrorExample:
                  $ref: '#/components/examples/voiceUnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbiddenErrorExample:
                  $ref: '#/components/examples/voiceForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                notFoundErrorExample:
                  $ref: '#/components/examples/voiceNotFoundErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                notAllowedErrorExample:
                  $ref: '#/components/examples/voiceNotAllowedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              examples:
                conflictErrorExample:
                  $ref: '#/components/examples/voiceConflictErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Conflict
        "415":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceUnsupportedMediaTypeErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceTooManyRequestsErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Too Many Requests
          headers:
            Retry-After:
              description: When you should try your request again.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                internalServerErrorExample:
                  $ref: '#/components/examples/voiceInternalServerErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Internal Server Error
      summary: Update Call
      tags:
      - Calls
    servers:
    - description: Production
      url: https://voice.bandwidth.com/api/v2
  /accounts/{accountId}/calls/{callId}/bxml:
    put:
      description: Interrupts and replaces an active call's BXML document.
      operationId: updateCallBxml
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Programmable Voice API Call ID.
        example: c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/updateCallBxmlRequest'
      responses:
        "204":
          description: Call BXML was successfully replaced.
        "400":
          content:
            application/json:
              examples:
                badRequestErrorExample:
                  $ref: '#/components/examples/voiceBadRequestErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorizedErrorExample:
                  $ref: '#/components/examples/voiceUnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbiddenErrorExample:
                  $ref: '#/components/examples/voiceForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                notFoundErrorExample:
                  $ref: '#/components/examples/voiceNotFoundErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                notAllowedErrorExample:
                  $ref: '#/components/examples/voiceNotAllowedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              examples:
                conflictErrorExample:
                  $ref: '#/components/examples/voiceConflictErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Conflict
        "415":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceUnsupportedMediaTypeErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceTooManyRequestsErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Too Many Requests
          headers:
            Retry-After:
              description: When you should try your request again.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                internalServerErrorExample:
                  $ref: '#/components/examples/voiceInternalServerErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Internal Server Error
      summary: Update Call BXML
      tags:
      - Calls
    servers:
    - description: Production
      url: https://voice.bandwidth.com/api/v2
  /accounts/{accountId}/conferences:
    get:
      description: |-
        Returns a max of 1000 conferences, sorted by `createdTime` from oldest to newest.

        **NOTE:** If the number of conferences in the account is bigger than `pageSize`, a `Link` header (with format `<{url}>; rel="next"`) will be returned in the response. The url can be used to retrieve the next page of conference records.
      operationId: listConferences
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Filter results by the `name` field.
        example: my-custom-name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Filter results to conferences which have a `createdTime` after
          or at `minCreatedTime` (in ISO8601 format).
        example: 2022-06-21T19:13:21Z
        explode: true
        in: query
        name: minCreatedTime
        required: false
        schema:
          type: string
        style: form
      - description: Filter results to conferences which have a `createdTime` before
          or at `maxCreatedTime` (in ISO8601 format).
        example: 2022-06-21T19:13:21Z
        explode: true
        in: query
        name: maxCreatedTime
        required: false
        schema:
          type: string
        style: form
      - description: Specifies the max number of conferences that will be returned.
        example: 500
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 1000
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Not intended for explicit use. To use pagination, follow the\
          \ links in the `Link` header of the response, as indicated in the endpoint\
          \ description."
        example: eyJwYWdlVG9rZW4iOiJ0b2tlbiJ9
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                listConferences Response:
                  $ref: '#/components/examples/listConferencesResponseExample'
              schema:
                items:
                  $ref: '#/components/schemas/conference'
                type: array
          description: OK
        "400":
          content:
            application/json:
              examples:
                badRequestErrorExample:
                  $ref: '#/components/examples/voiceBadRequestErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorizedErrorExample:
                  $ref: '#/components/examples/voiceUnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbiddenErrorExample:
                  $ref: '#/components/examples/voiceForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                notFoundErrorExample:
                  $ref: '#/components/examples/voiceNotFoundErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                notAllowedErrorExample:
                  $ref: '#/components/examples/voiceNotAllowedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceUnsupportedMediaTypeErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceTooManyRequestsErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Too Many Requests
          headers:
            Retry-After:
              description: When you should try your request again.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                internalServerErrorExample:
                  $ref: '#/components/examples/voiceInternalServerErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Internal Server Error
      summary: Get Conferences
      tags:
      - Conferences
    servers:
    - description: Production
      url: https://voice.bandwidth.com/api/v2
  /accounts/{accountId}/conferences/{conferenceId}:
    get:
      description: Returns information about the specified conference.
      operationId: getConference
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Programmable Voice API Conference ID.
        example: conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conference'
          description: OK
        "400":
          content:
            application/json:
              examples:
                badRequestErrorExample:
                  $ref: '#/components/examples/voiceBadRequestErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorizedErrorExample:
                  $ref: '#/components/examples/voiceUnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbiddenErrorExample:
                  $ref: '#/components/examples/voiceForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                notFoundErrorExample:
                  $ref: '#/components/examples/voiceNotFoundErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                notAllowedErrorExample:
                  $ref: '#/components/examples/voiceNotAllowedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceUnsupportedMediaTypeErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceTooManyRequestsErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Too Many Requests
          headers:
            Retry-After:
              description: When you should try your request again.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                internalServerErrorExample:
                  $ref: '#/components/examples/voiceInternalServerErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Internal Server Error
      summary: Get Conference Information
      tags:
      - Conferences
    post:
      description: Update the conference state.
      operationId: updateConference
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Programmable Voice API Conference ID.
        example: conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/updateConferenceRequest'
      responses:
        "204":
          description: Conference was successfully modified.
        "400":
          content:
            application/json:
              examples:
                badRequestErrorExample:
                  $ref: '#/components/examples/voiceBadRequestErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorizedErrorExample:
                  $ref: '#/components/examples/voiceUnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbiddenErrorExample:
                  $ref: '#/components/examples/voiceForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                notFoundErrorExample:
                  $ref: '#/components/examples/voiceNotFoundErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                notAllowedErrorExample:
                  $ref: '#/components/examples/voiceNotAllowedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceUnsupportedMediaTypeErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceTooManyRequestsErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Too Many Requests
          headers:
            Retry-After:
              description: When you should try your request again.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                internalServerErrorExample:
                  $ref: '#/components/examples/voiceInternalServerErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Internal Server Error
      summary: Update Conference
      tags:
      - Conferences
    servers:
    - description: Production
      url: https://voice.bandwidth.com/api/v2
  /accounts/{accountId}/conferences/{conferenceId}/bxml:
    put:
      description: Update the conference BXML document.
      operationId: updateConferenceBxml
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Programmable Voice API Conference ID.
        example: conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/updateConferenceBxmlRequest'
      responses:
        "204":
          description: Conference successfully modified.
        "400":
          content:
            application/json:
              examples:
                badRequestErrorExample:
                  $ref: '#/components/examples/voiceBadRequestErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorizedErrorExample:
                  $ref: '#/components/examples/voiceUnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbiddenErrorExample:
                  $ref: '#/components/examples/voiceForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                notFoundErrorExample:
                  $ref: '#/components/examples/voiceNotFoundErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                notAllowedErrorExample:
                  $ref: '#/components/examples/voiceNotAllowedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceUnsupportedMediaTypeErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceTooManyRequestsErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Too Many Requests
          headers:
            Retry-After:
              description: When you should try your request again.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                internalServerErrorExample:
                  $ref: '#/components/examples/voiceInternalServerErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Internal Server Error
      summary: Update Conference BXML
      tags:
      - Conferences
    servers:
    - description: Production
      url: https://voice.bandwidth.com/api/v2
  /accounts/{accountId}/conferences/{conferenceId}/members/{memberId}:
    get:
      description: Returns information about the specified conference member.
      operationId: getConferenceMember
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Programmable Voice API Conference ID.
        example: conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      - description: Programmable Voice API Conference Member ID.
        example: c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85
        explode: false
        in: path
        name: memberId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conferenceMember'
          description: OK
        "400":
          content:
            application/json:
              examples:
                badRequestErrorExample:
                  $ref: '#/components/examples/voiceBadRequestErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorizedErrorExample:
                  $ref: '#/components/examples/voiceUnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbiddenErrorExample:
                  $ref: '#/components/examples/voiceForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                notFoundErrorExample:
                  $ref: '#/components/examples/voiceNotFoundErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                notAllowedErrorExample:
                  $ref: '#/components/examples/voiceNotAllowedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceUnsupportedMediaTypeErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceTooManyRequestsErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Too Many Requests
          headers:
            Retry-After:
              description: When you should try your request again.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                internalServerErrorExample:
                  $ref: '#/components/examples/voiceInternalServerErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Internal Server Error
      summary: Get Conference Member
      tags:
      - Conferences
    put:
      description: Updates settings for a particular conference member.
      operationId: updateConferenceMember
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Programmable Voice API Conference ID.
        example: conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      - description: Programmable Voice API Conference Member ID.
        example: c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85
        explode: false
        in: path
        name: memberId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/updateConferenceMemberRequest'
      responses:
        "204":
          description: Conference member was successfully modified.
        "400":
          content:
            application/json:
              examples:
                badRequestErrorExample:
                  $ref: '#/components/examples/voiceBadRequestErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorizedErrorExample:
                  $ref: '#/components/examples/voiceUnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbiddenErrorExample:
                  $ref: '#/components/examples/voiceForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                notFoundErrorExample:
                  $ref: '#/components/examples/voiceNotFoundErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                notAllowedErrorExample:
                  $ref: '#/components/examples/voiceNotAllowedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceUnsupportedMediaTypeErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceTooManyRequestsErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Too Many Requests
          headers:
            Retry-After:
              description: When you should try your request again.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                internalServerErrorExample:
                  $ref: '#/components/examples/voiceInternalServerErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Internal Server Error
      summary: Update Conference Member
      tags:
      - Conferences
    servers:
    - description: Production
      url: https://voice.bandwidth.com/api/v2
  /accounts/{accountId}/conferences/{conferenceId}/recordings:
    get:
      description: Returns a (potentially empty) list of metadata for the recordings
        that took place during the specified conference.
      operationId: listConferenceRecordings
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Programmable Voice API Conference ID.
        example: conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/conferenceRecordingMetadata'
                type: array
          description: OK
        "400":
          content:
            application/json:
              examples:
                badRequestErrorExample:
                  $ref: '#/components/examples/voiceBadRequestErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorizedErrorExample:
                  $ref: '#/components/examples/voiceUnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbiddenErrorExample:
                  $ref: '#/components/examples/voiceForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                notFoundErrorExample:
                  $ref: '#/components/examples/voiceNotFoundErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                notAllowedErrorExample:
                  $ref: '#/components/examples/voiceNotAllowedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceUnsupportedMediaTypeErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceTooManyRequestsErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Too Many Requests
          headers:
            Retry-After:
              description: When you should try your request again.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                internalServerErrorExample:
                  $ref: '#/components/examples/voiceInternalServerErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Internal Server Error
      summary: Get Conference Recordings
      tags:
      - Conferences
    servers:
    - description: Production
      url: https://voice.bandwidth.com/api/v2
  /accounts/{accountId}/conferences/{conferenceId}/recordings/{recordingId}:
    get:
      description: Returns metadata for the specified recording.
      operationId: getConferenceRecording
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Programmable Voice API Conference ID.
        example: conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      - description: Programmable Voice API Recording ID.
        example: r-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85
        explode: false
        in: path
        name: recordingId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conferenceRecordingMetadata'
          description: OK
        "400":
          content:
            application/json:
              examples:
                badRequestErrorExample:
                  $ref: '#/components/examples/voiceBadRequestErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorizedErrorExample:
                  $ref: '#/components/examples/voiceUnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbiddenErrorExample:
                  $ref: '#/components/examples/voiceForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                notFoundErrorExample:
                  $ref: '#/components/examples/voiceNotFoundErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                notAllowedErrorExample:
                  $ref: '#/components/examples/voiceNotAllowedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceUnsupportedMediaTypeErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceTooManyRequestsErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Too Many Requests
          headers:
            Retry-After:
              description: When you should try your request again.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                internalServerErrorExample:
                  $ref: '#/components/examples/voiceInternalServerErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Internal Server Error
      summary: Get Conference Recording Information
      tags:
      - Conferences
    servers:
    - description: Production
      url: https://voice.bandwidth.com/api/v2
  /accounts/{accountId}/conferences/{conferenceId}/recordings/{recordingId}/media:
    get:
      description: Downloads the specified recording file.
      operationId: downloadConferenceRecording
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Programmable Voice API Conference ID.
        example: conf-fe23a767-a75a5b77-20c5-4cca-b581-cbbf0776eca9
        explode: false
        in: path
        name: conferenceId
        required: true
        schema:
          type: string
        style: simple
      - description: Programmable Voice API Recording ID.
        example: r-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85
        explode: false
        in: path
        name: recordingId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            audio/vnd.wave:
              schema:
                format: binary
                type: string
            audio/mpeg:
              schema:
                format: binary
                type: string
          description: OK
        "400":
          content:
            application/json:
              examples:
                badRequestErrorExample:
                  $ref: '#/components/examples/voiceBadRequestErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorizedErrorExample:
                  $ref: '#/components/examples/voiceUnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbiddenErrorExample:
                  $ref: '#/components/examples/voiceForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                notFoundErrorExample:
                  $ref: '#/components/examples/voiceNotFoundErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                notAllowedErrorExample:
                  $ref: '#/components/examples/voiceNotAllowedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceUnsupportedMediaTypeErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceTooManyRequestsErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Too Many Requests
          headers:
            Retry-After:
              description: When you should try your request again.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                internalServerErrorExample:
                  $ref: '#/components/examples/voiceInternalServerErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Internal Server Error
      summary: Download Conference Recording
      tags:
      - Conferences
    servers:
    - description: Production
      url: https://voice.bandwidth.com/api/v2
  /accounts/{accountId}/recordings:
    get:
      description: |-
        Returns a list of metadata for the recordings associated with the
        specified account. The list can be filtered by the optional from, to, minStartTime,
        and maxStartTime arguments. The list is capped at 1000 entries and may be
        empty if no recordings match the specified criteria.
      operationId: listAccountCallRecordings
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Filter results by the `to` field.
        example: '%2b19195551234'
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      - description: Filter results by the `from` field.
        example: '%2b19195554321'
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: Filter results to recordings which have a `startTime` after or
          including `minStartTime` (in ISO8601 format).
        example: 2022-06-21T19:13:21Z
        explode: true
        in: query
        name: minStartTime
        required: false
        schema:
          type: string
        style: form
      - description: Filter results to recordings which have a `startTime` before
          `maxStartTime` (in ISO8601 format).
        example: 2022-06-21T19:13:21Z
        explode: true
        in: query
        name: maxStartTime
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/callRecordingMetadata'
                type: array
          description: OK
        "400":
          content:
            application/json:
              examples:
                badRequestErrorExample:
                  $ref: '#/components/examples/voiceBadRequestErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorizedErrorExample:
                  $ref: '#/components/examples/voiceUnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbiddenErrorExample:
                  $ref: '#/components/examples/voiceForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                notFoundErrorExample:
                  $ref: '#/components/examples/voiceNotFoundErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                notAllowedErrorExample:
                  $ref: '#/components/examples/voiceNotAllowedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceUnsupportedMediaTypeErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceTooManyRequestsErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Too Many Requests
          headers:
            Retry-After:
              description: When you should try your request again.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                internalServerErrorExample:
                  $ref: '#/components/examples/voiceInternalServerErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Internal Server Error
      summary: Get Call Recordings
      tags:
      - Recordings
    servers:
    - description: Production
      url: https://voice.bandwidth.com/api/v2
  /accounts/{accountId}/calls/{callId}/recording:
    put:
      description: Pause or resume a recording on an active phone call.
      operationId: updateCallRecordingState
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Programmable Voice API Call ID.
        example: c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/updateCallRecordingRequest'
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              examples:
                badRequestErrorExample:
                  $ref: '#/components/examples/voiceBadRequestErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                unauthorizedErrorExample:
                  $ref: '#/components/examples/voiceUnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                forbiddenErrorExample:
                  $ref: '#/components/examples/voiceForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                notFoundErrorExample:
                  $ref: '#/components/examples/voiceNotFoundErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                notAllowedErrorExample:
                  $ref: '#/components/examples/voiceNotAllowedErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Method Not Allowed
        "415":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceUnsupportedMediaTypeErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Unsupported Media Type
        "429":
          content:
            application/json:
              examples:
                tooManyRequestsErrorExample:
                  $ref: '#/components/examples/voiceTooManyRequestsErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Too Many Requests
          headers:
            Retry-After:
              description: When you should try your request again.
              explode: false
              schema:
                type: string
              style: simple
        "500":
          content:
            application/json:
              examples:
                internalServerErrorExample:
                  $ref: '#/components/examples/voiceInternalServerErrorExample'
              schema:
                $ref: '#/components/schemas/voiceApiError'
          description: Internal Server Error
      summary: Update Recording
      tags:
      - Recordings
    servers:
    - description: Production
      url: https://voice.bandwidth.com/api/v2
  /accounts/{accountId}/calls/{callId}/recordings:
    get:
      description: |-
        Returns a (potentially empty) list of metadata for the recordings
        that took place during the specified call.
      operationId: listCallRecordings
      parameters:
      - description: Your Bandwidth Account ID.
        example: "9900000"
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: Programmable Voice API Call ID.
        example: c-15ac29a2-1331029c-2cb0-4a07-b215-b22865662d85
        explode: false
        in: path
        name: callId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
[...]
